*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-image: url('../assets/pokeball.gif');
    background-size: cover; 
    background-repeat: no-repeat;
    min-height: 100vh;
    margin: 0;
    color: #304933;
    display: flex;
    justify-content: center;
    align-items: center;
}

input,
button {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input {
    margin-top: 100px;
    margin-bottom: 40px;
    width: 300px;
    height: 25px;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}

button {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 1px solid #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    background-color: #304933;
    color: aliceblue;
    width: 100px;
    height: 40px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #45a049;
}

.container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    border: 1px solid #333333;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
    text-align: center;
}

h2 {
    color: #123e25;
    margin: 0;
    font-size: 20px;
    line-height: 1.5;
    text-transform: capitalize;
}

h3 {
    color: #394814;
    line-height: 1.5;
}

li {
    list-style-type: none;
}
